@import '../../../../../variables.scss';

.task{
    position: relative;
    text-align: left;
    justify-content: space-between;
    margin: 10px 0px;
    box-shadow: 0 1px 4px 1px rgba(9, 30, 66, 0.25);
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.3s all;
    &:hover{
        background-color: #e8e6e6;
    }
    .task-name{
        width: 100%;
        word-wrap: break-word;
        padding-left: 5px;
        
        &:hover{
            cursor: context-menu;
        }
    }

    .complete-button-false{
        position: absolute;
        text-align: center;
        top: -10px;
        left:-10px;
        background-color: red;
        border-radius: 50%;
        padding: 5px 6.5px;
        color: white;
        font-weight: bold;
        font-size: 10px;
        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
    }
    .complete-button-true{
        position: absolute;
        text-align: center;
        top: -10px;
        left:-10px;
        background-color: green;
        border-radius: 50%;
        padding: 5px 5px;
        color: white;
        font-size: 10px;
        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
    }
}