@import '../../../../variables.scss';
.project{
    margin: 10px 30px;
    background-color: $color5;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    box-shadow:3px 3px 10px 1px grey;
    height: 300px;
    transition: 0.3s all;
    &:hover{
        box-shadow: none;
    }
    input{
        margin-bottom: 10px;
        outline: none;
        padding: 0px 0px 0px 5px;
        border-radius: 5px;
        &::placeholder{
            font-family: $font1;
        }
    }
    button{
        font-family: $font1;
        display: inline;
        background-color: $color4;
        border: none;
        outline: none;
        margin-left: 10px;
        border-radius: 5px;
        transition: 0.3s all;
        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
    }
    .project-name{
        margin: 10px 0px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color4;
    }
    .no-tasks{
        font-size: 13px;
    }
}