@import '../../../variables.scss';

.profile-container{
    font-family: $font1;
    .inside-profile-container{
        width: 1000px;
        margin: 0px auto;
        .user-info{
            display: flex;
            justify-content: space-between;
            div{
                margin: 50px 100px;
                font-size: 30px;
            }
        }
        .info-container{
            display: flex;
            flex-direction: column;
            background-color: #cccccc;
            box-shadow: 3px 3px 10px 1px grey;
            width: 80%;
            margin: 0px auto;
            height: 500px;
            overflow: auto;
            border-radius: 3px;
            .inside-info-container{
                .title-container{
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    margin: 20px auto;
                }
                .status-container{
                    width: 80%;
                    margin: 0px auto;
                    .status{
                        background-color: white;
                        box-shadow: 0 1px 4px 1px rgba(9, 30, 66, 0.25);
                        border-radius: 3px;
                        padding: 5px 0px;
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0px;
                        &:hover{
                            background-color: #e8e6e6;
                            cursor: context-menu;
                        }
                        div{
                            margin: 0px 20px;
                        }
                    }
                    .non-setup{
                        width: 80%;
                        margin: 0px auto;
                        background-color: white;
                        box-shadow: 0 1px 4px 1px rgba(9, 30, 66, 0.25);
                        border-radius: 3px;
                        padding: 5px 20px;
                        text-align: center;
                        &:hover{
                            background-color: #e8e6e6;
                            cursor: context-menu;
                        }
                        
                    }
                }

            }
        }
    }
}