@import '../../variables.scss';

.register-container{
    @include card;
    button{
        width: 125px;
    }
    .email-err{
        text-align: center;
        margin: 0px auto;
        color: red;
        font-size: 12px;
        font-weight: bold;
    }
}