@import '../../../variables.scss';

.projects-container{
    font-family: $font1;
    margin: 50px auto 0px auto;
    .projects-header{
        margin-bottom: 50px;
        h1{
            font-size: 60px;
            text-align: center;
            text-shadow: 4px 6px 9px #adacac;
        }
    }
    .project-details{
        ul{
            display: flex;
            justify-content: center;
            font-size: 20px;
            li{
                background-color: white;
                padding: 5px 10px;
                border-radius: 3px;
                box-shadow: 1px 1px 4px 0px grey;
                margin: 0px 35px;
                span{
                    color: $color5;
                }
            }
        }
    }
    .list-container{
        position: relative;
        z-index: 1;
        padding-top: 15px;
        height: 375px;
        width: 1100px;
        position: relative;
        background-color: #5680e947;
        margin: 50px auto 0px auto;
        .add-button{
            position: relative;
            bottom: 20px;
            right: 10px;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            font-size: 40px;
            width: 40px;
            background-color: $color4;

            .plus{
                transition: 0.3s color;
            }

            &:hover{
                cursor: pointer;
                .plus{
                    color: $color1;
                }
            }
        } 
        .project-submition{
            position: absolute;
            display: none;
            width:300px;
            left: 50px;
            top: 5px;
            text-align: left;
            z-index: 20;
            input{
                outline: none;
                padding: 0px 0px 0px 5px;
                border-radius: 5px;
                &::placeholder{
                    font-family: $font1;
                }
            }
            button{
                font-family: $font1;
                display: inline;
                background-color: $color1;
                border: none;
                outline: none;
                margin-left: 10px;
                border-radius: 5px;
                transition: 0.3s all;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }

        .submition-on{
            display: inline-block;
        }
        
        .no-projects{
            text-align: center;
        }
        .conditional-container{
            overflow-y: hidden;
            &::-webkit-scrollbar{
                width: 5px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #bfbfbf;
                border-radius: 5px;
            }
            .all-projects{
                position: relative;
                overflow: auto;
                display: inline-flex;
                height: 350px;
                &::-webkit-scrollbar{
            width: 5px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #bfbfbf;
            border-radius: 5px;
        }
            }

        }
        
    }
}